*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.Principal {
    margin: 0%;
    padding: 0%;
    width: vw;
    height: vh;
    background-color: rgb(224, 251, 252);
}
h1{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    text-align: center;
    margin: 20px, 10px;
    color:rgb(61, 90, 128);
}
.Texto p{
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-align: center;
    color:darkblue;
}
.Texto{
    width:vw;
    height: vh;
    margin: 10px;
    padding: 10px;
    background-color: rgb(152, 193, 217);
}
.btn1 {
    width: 70px;
    height: 50px;
    background-color: darkturquoise;
    transition: 500ms;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 10px;
    
}
.btn1:hover{
    background-color:crimson;
    color:aliceblue;
    border-radius: 15px;
}
ul {
    padding: 10px, 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style-position: inside;
}